<!DOCTYPE html>
<html class=" js  placeholder" ng-app="ReHand" ng-controller="RegisterController">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ReHand: Register</title>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="scripts/controller.js"></script>
    <script src="../assets/directives/dropdown.js"></script>
    <link rel="stylesheet" href="../assets/directives/dropdown.css">
    <link rel="stylesheet" href="styles/main.css">
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="https://a.stripecdn.com/manage/assets/application.manage_split2-b86e45e054fe4929dcfc79540eae3951.css">
    <![endif]-->
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../fonts/gotham.css">
  </head>
  <body id="login" class="register-page">

    <div id="login-background"><div class="inner"></div></div>



     <div id="wrap" style="padding-top: 0px;">

     <!-- Header -->
     <div id="header">
         <h1><a href="/">ReHand</a></h1>
     </div>

      <div id="main-body" class="box css"><div class="inner">

        <div class="title extra">
          <h2 ng-hide="registerError">Crea tu cuenta de doctor.</h2>
          <h2 class="error" ng-show="errors.email_used">El e-mail ingresado ya esta en uso.</h2>
          <h2 class="error" ng-show="errors.confirm_password">Las contraseñas no coinciden.</h2>
          <h2 class="error" ng-show="errors.bad_organization">Por ahora no soportamos esa organización.</h2>
          <h2 class="error" ng-show="errors.user_incomplete">Por favor completa todos los campos.</h2>
          <h2 class="error" ng-show="errors.no_root">Parece que no eres administrador.</h2>
        </div>

          <form ng-submit="register()">
              <p class="text">
                  <span>
                      <label for="name">Nombre</label>
                      <input type="text" value="" ng-model="user.name" placeholder="Nombre">
                  </span>
              </p>
              <p class="text">
                  <span>
                      <label for="email">E-mail</label>
                      <input type="email" value="" ng-model="user.email" placeholder="E-mail">
                  </span>
              </p>
              <div rh-dropdown
                class="dropdown default"
                hide-selected=true
                options="suportedOrganizations"
                place-holder="Organización" 
                clicked-option="user.organization">
              </div>
              <p class="text">
                  <span class="password-strength" data-password-strength="-1">
                      <label for="password">Contraseña</label>
                      <input type="password" value="" ng-model="user.password" placeholder="Password" class="password-strength-input">
                  <span class="password-strength-indicator"><span></span><span></span><span></span><span></span></span><span class="password-strength-popover"><span class="password-strength-popover-status"></span><span class="password-strength-popover-explanation">Buenas contraseñas son dificiles de adivinar. Intenta usar palabras no comunes, numeros o simbolos.</span></span></span>
              </p>
              <p class="text">
                  <span>
                      <label for="confirm_password">Repetir Contraseña</label>
                      <input type="password" value="" ng-model="user.confirm_password" placeholder="Repetir Contraseña">
                  </span>
              </p>
              <p class="text">
                  <span>
                      <label for="admin_password">Contraseña Administrativa</label>
                      <input type="password" value="" ng-model="user.secret" id="admin_password" placeholder="Contraseña Administrativa">
                  </span>
              </p>

              <div>
                  <p class="submit">
                      <button type="submit" class="button blue medium"><span>Crea tu cuenta</span></button>
                  </p>
              </div>
          </form>

      </div></div> <!-- END CONTENT -->

      <div class="below-box">
        <p>
          ¿Ya tenes una cuenta?
          <a href="/login">Inicia Sesión</a>.
      </p>
      </div>

      <div id="footer_spacer"></div>
        <div id="bottom">
          <ul>
              <li><a href="https://stripe.com/privacy">Políticas de Privacidad</a></li>
              <li><a href="https://stripe.com/help/contact">Contacto</a></li>
              <li class="last"><a href="/">© ReHand</a></li>
          </ul>
      </div>
    </div><span style="position: absolute; top: -1000px;"><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1" height="1" id="stmgwb2" align="right"><param name="allowScriptAccess" value="always"><param name="movie" value="https://mpsnare.iesnare.com/stmgwb2.swf"><param name="swLiveConnect" value="true"><embed src="https://mpsnare.iesnare.com/stmgwb2.swf" width="1" height="1" name="stmgwb2" swliveconnect="true" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></object></span>
