body {
	margin: 0;
	padding: 0;
}
header {
	background: red;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding: 0 10px;
}
header .right {
	float: right;
}
header .user {
	
}
header .user .name {
	display: inline-block;
}
header .user .picture {
	border-radius: 100%;
}
.MenuBar{
	position: absolute;
	list-style-type: none;
	width: 250px;
	height: 60px;
}