@media screen and (-webkit-min-device-pixel-ratio: 0)
html {
  font-family: "HelveticaNeue",Helvetica,Arial,sans-serif;
}

html {
  background: rgba(255,255,255,0);
  background: -webkit-linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
  background: -moz-linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
  background: -ms-linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
  background: -o-linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
  background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
  background-color: #e8ebef;
  background-repeat: no-repeat;
  font-family: Arial,sans-serif;
  height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

#application {
  width: 940px;
  margin: 0 auto;
}

.header-view, #login #header, .page-wrapper #header, .oauth-page #header {
  height: 70px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.header-view h1, #login #header h1, .page-wrapper #header h1, .oauth-page #header h1 {
  text-indent: -999em;
  float: left;
  margin: 20px 0 0 -1px;
  width: 130px;
  height: 31px;
  -webkit-backface-visibility: hidden;
}

.header-view h1 a, #login #header h1 a, .page-wrapper #header h1 a, .oauth-page #header h1 a {
  background-image: url("../../images/logo-texto.png");
  background-size: 130px 30px;
  background-repeat: no-repeat;
  display: block;
  height: 31px;
}

a {
  color: #008cdd;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

div.navigation {
  padding-top: 24px;
  position: relative;
}

div.account-dropdown-view {
  float: right;
  position: relative;
  padding-left: 3px;
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div.account-dropdown-view a.account {
  display: block;
  position: relative;
  color: #555;
  font-size: 11px;
  padding-right: 15px;
  height: 22px;
  line-height: 22px;
  text-decoration: none;
}

div.account-dropdown-view a.account img {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 4px;
}

div.account-dropdown-view img {
  -moz-user-drag: -moz-none;
  -webkit-user-drag: none;
  user-drag: none;
}

fieldset, img {
  border: 0;
}

div.account-dropdown-view a.account {
  display: block;
  position: relative;
  color: #555;
  font-size: 11px;
  padding-right: 15px;
  height: 22px;
  line-height: 22px;
  text-decoration: none;
}

div.account-dropdown-view div.submenu {
  display: none;
  -webkit-font-smoothing: subpixel-antialiased;
  top: 35px;
  left: 50%;
  margin-left: -85px;
  width: 170px;
  padding: 5px 0;
  z-index: 240;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 8px 13px rgba(0,0,0,0.36),0 0 0 1px rgba(0,0,0,0.06);
  font-family: "Lucida Grande","Lucida Sans Unicode",Geneva,sans-serif;
  font-size: 12px;
}

div.account-dropdown-view div.submenu:before {
  content: "";
  position: absolute;
  display: block;
  width: 37px;
  height: 12px;
  top: -12px;
  left: 50%;
  margin-left: -18.5px;
  background-image: url("header/account_dropdown_view/popover_arrow_top-a570ca28a2d1c194c72108c41fc623d9.png");
  background-size: 100% 100%;
}

div.account-dropdown-view div.submenu ul:first-child, div.account-dropdown-view div.submenu ul ul {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

div.account-dropdown-view div.submenu ul {
  border-top: 1px solid #f0f2f2;
  margin-top: 4px;
  padding-top: 4px;
}

li {
  list-style: none;
}

div.account-dropdown-view div.submenu ul li:last-child a {
  border-bottom: 0;
}

div.account-dropdown-view div.submenu ul li a {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 0 14px;
  line-height: 26px;
  height: 27px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: #6f7c82;
  text-decoration: none;
}

div.navigation ul.global {
  float: right;
  margin-right: 12px;
  position: relative;
  padding: 2px 6px;
}

div.navigation ul.global::before {
  right: 1px;
  background-image: -webkit-linear-gradient(rgba(181,188,202,0),rgba(181,188,202,0.75) 30%,rgba(181,188,202,0.75) 70%,rgba(181,188,202,0));
  background-image: -moz-linear-gradient(rgba(181,188,202,0),rgba(181,188,202,0.75) 30%,rgba(181,188,202,0.75) 70%,rgba(181,188,202,0));
  background-image: -o-linear-gradient(rgba(181,188,202,0),rgba(181,188,202,0.75) 30%,rgba(181,188,202,0.75) 70%,rgba(181,188,202,0));
  background-image: -ms-linear-gradient(rgba(181,188,202,0),rgba(181,188,202,0.75) 30%,rgba(181,188,202,0.75) 70%,rgba(181,188,202,0));
  background-image: linear-gradient(rgba(181,188,202,0),rgba(181,188,202,0.75) 30%,rgba(181,188,202,0.75) 70%,rgba(181,188,202,0));
}

div.navigation ul.global::before, div.navigation ul.global::after {
  content: "";
  position: absolute;
  width: 1px;
  top: -1px;
  bottom: -2px;
  background-repeat: no-repeat;
  background-size: 1px 100%;
}

div.navigation ul.global li {
  display: block;
  float: left;
  padding: 0 2px;
}

div.navigation ul.global a.selected {
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  background: rgba(168,176,188,0.15);
  background: -webkit-linear-gradient(rgba(168,176,188,0.4),rgba(168,176,188,0.15));
  background: -moz-linear-gradient(rgba(168,176,188,0.4),rgba(168,176,188,0.15));
  background: -ms-linear-gradient(rgba(168,176,188,0.4),rgba(168,176,188,0.15));
  background: -o-linear-gradient(rgba(168,176,188,0.4),rgba(168,176,188,0.15));
  background: linear-gradient(rgba(168,176,188,0.4),rgba(168,176,188,0.15));
  box-shadow: inset 0 0 1px rgba(114,125,150,0.4),inset 0 1px 0 rgba(114,125,150,0.4),0 1px 0 rgba(255,255,255,0.7);
}

div.navigation ul.global a {
  display: block;
  font-size: 11px;
  color: #555;
  padding: 3px 10px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: color 150ms ease;
}

div#introduction, div#action, div#tour, div#notify, div.invite-info, div.box, div#global-notice-view {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

div.global-notice-view {
  margin: -5px -1px 8px;
  position: relative;
}

#application div#main-body {
  background: #f1f3f5;
  position: relative;
}

div#introduction, div#action, div#tour, div#notify, div.invite-info, div.box, div#global-notice-view {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

div.box {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 0 2px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 2px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2);
  box-shadow: 0 0 2px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2);
}

div.toolbar-view {
  height: 49px;
  padding: 1px;
  margin: -1px -1px 0;
  z-index: 30;
  position: relative;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 1px;
  -moz-border-bottom-left-radius: 1px;
  -ms-border-bottom-left-radius: 1px;
  -o-border-bottom-left-radius: 1px;
  border-bottom-left-radius: 1px;
  -webkit-border-bottom-right-radius: 1px;
  -moz-border-bottom-right-radius: 1px;
  -ms-border-bottom-right-radius: 1px;
  -o-border-bottom-right-radius: 1px;
  border-bottom-right-radius: 1px;
  background: #417cbd;
  background: -webkit-linear-gradient(#508ad2,#2c619c);
  background: -moz-linear-gradient(#508ad2,#2c619c);
  background: -ms-linear-gradient(#508ad2,#2c619c);
  background: -o-linear-gradient(#508ad2,#2c619c);
  background: linear-gradient(#508ad2,#2c619c);
  background: #015e94;
  background: -webkit-linear-gradient(#3895cb,#015e94);
  background: -moz-linear-gradient(#3895cb,#015e94);
  background: -ms-linear-gradient(#3895cb,#015e94);
  background: -o-linear-gradient(#3895cb,#015e94);
  background: linear-gradient(#3895cb,#015e94);
}

div.toolbar-view div.inner {
  height: 49px;
  position: relative;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 #75acea;
  -moz-box-shadow: inset 0 1px 0 #75acea;
  -ms-box-shadow: inset 0 1px 0 #75acea;
  -o-box-shadow: inset 0 1px 0 #75acea;
  box-shadow: inset 0 1px 0 #75acea;
  background: #2f7ed6;
  background: -webkit-linear-gradient(#60a0e7,#3a7ac1);
  background: -moz-linear-gradient(#60a0e7,#3a7ac1);
  background: -ms-linear-gradient(#60a0e7,#3a7ac1);
  background: -o-linear-gradient(#60a0e7,#3a7ac1);
  background: linear-gradient(#60a0e7,#3a7ac1);
  background: #2f7ed6;
  background: -webkit-linear-gradient(#9dcde9,#74b9e0 2px,#2490ce);
  background: -moz-linear-gradient(#9dcde9,#74b9e0 2px,#2490ce);
  background: -ms-linear-gradient(#9dcde9,#74b9e0 2px,#2490ce);
  background: -o-linear-gradient(#9dcde9,#74b9e0 2px,#2490ce);
  background: linear-gradient(#9dcde9,#74b9e0 2px,#2490ce);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
  -ms-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
  -o-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
}

.switch-view {
  width: 179px;
  padding: 19px 0 0;
  height: 31px;
  position: relative;
}

.switch-view::before {
  content: " ";
  position: absolute;
  width: 1px;
  right: -1px;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.12);
  background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.12));
  background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.12));
  background: -ms-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.12));
  background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.12));
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.12));
}

.switch-view .switch-view-content {
  position: relative;
  margin: auto;
  height: 12px;
  width: 41px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.switch-view .switch-view-content label.off {
  left: -40px;
  width: 30px;
  text-align: right;
}

.switch-view .switch-view-content label {
  position: absolute;
  top: -1px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #a1c3e9;
  -webkit-transition: color .2s ease-in-out;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
}

a.button, div.filter, label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.switch-view .switch-view-content label.active {
  color: #fff;
}

.switch-view .switch-view-content label.on {
  right: -39px;
  width: 30px;
}

.switch-view .switch-view-content label {
  position: absolute;
  top: -1px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #a1c3e9;
  -webkit-transition: color .2s ease-in-out;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
}

.switch-view .switch-view-content div.switch-background-off {
  right: 0;
  background-image: url("main-toolbar/switch/track-test-92303ac5d1b614ff701824dc2c9ac71b.png");
  background-size: 41px 12px;
}

.switch-view .switch-view-content div.switch-background-off, .switch-view .switch-view-content div.switch-background-on, .switch-view .switch-view-content div.switch-knob {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.switch-view .switch-view-content div.switch-background-on {
  right: 0;
  background-image: url("main-toolbar/switch/track-live-fe528606bac86e5ffe7777ca8f319ed1.png");
  background-size: 41px 12px;
  background-position: right;
}

.switch-view .switch-view-content div.switch-knob {
  width: 22px;
  height: 14px;
  background-image: url("main-toolbar/switch/knob-9d8c905cbe0ba9c2fa9f440067a67eef.png");
  background-size: 22px 28px;
}

div.quicksearch-view {
  position: absolute;
  left: 755px;
  top: 12px;
  z-index: 40;
}

div.quicksearch-view form {
  width: 174px;
  height: 28px;
  position: absolute;
  background-image: url("../assets/search/right-66b94aabbf767ef6a5f908451874f1dc.png");
  background-size: 14px 28px;
  background-position: 100% 0;
  background-repeat: no-repeat;
  z-index: 40;
}

div.quicksearch-view form div.mask {
  position: absolute;
  height: 28px;
  left: -60px;
  width: 220px;
  overflow: hidden;
}

div.quicksearch-view form input {
  z-index: 40;
  position: absolute;
  left: 60px;
  width: 179px;
  border: 0;
  height: 28px;
  background: 0;
  background-image: url("../assets/search/left_center-b4da17b5311e95151a760e5486315b77.png");
  background-size: 235px 28px;
  padding-left: 28px;
  padding-right: 13px;
  font-size: 12px;
  -webkit-backface-visibility: hidden;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

div.quicksearch-view form div.clear {
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  cursor: pointer;
  top: 6px;
  right: 7px;
  z-index: 50;
  background: url("../assets/search/clear-0afe3e720d346da4589da8a30a301a87.png");
  opacity: .5;
}

div.quicksearch-view .search-results-popover {
  position: absolute;
  z-index: 100;
  left: -178px;
  top: 34px;
  width: 350px;
  background: #ccc;
  background: rgba(0,0,0,0.25);
  padding: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 13px rgba(0,0,0,0.46);
  -moz-box-shadow: 0 4px 13px rgba(0,0,0,0.46);
  -ms-box-shadow: 0 4px 13px rgba(0,0,0,0.46);
  -o-box-shadow: 0 4px 13px rgba(0,0,0,0.46);
  box-shadow: 0 4px 13px rgba(0,0,0,0.46);
}

div.quicksearch-view .search-results-popover div.inner {
  position: relative;
  background: #fff;
  min-height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

div.quicksearch-view .search-results-popover div.arrow {
  width: 18px;
  height: 6px;
  background: url("popover/arrows/top-f8cacd45035979cd7f5e49a0b7313010.png");
  position: absolute;
  top: -6px;
  right: 106px;
}

div.quicksearch-view .search-results-popover div.loading-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  width: 350px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

div.quicksearch-view .search-results-popover div.loading-indicator span {
  position: absolute;
  height: 39px;
  background: #fff;
  bottom: 0;
  height: 32px;
  width: 100%;
  line-height: 16px;
  text-align: center;
  display: block;
  padding-top: 7px;
  font-size: 11px;
  color: #888;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

div.quicksearch-view .search-results-popover div.loading-indicator img {
  margin-right: 4px;
  position: relative;
  top: 4px;
}

fieldset, img {
  border: 0;
}

.sidebar-view {
  -webkit-font-smoothing: subpixel-antialiased;
}

.sidebar-view .sidebar-view-gradient {
  position: absolute;
  left: 177px;
  top: 51px;
  bottom: 0;
  width: 2px;
  z-index: 20;
  pointer-events: none;
  background-image: -webkit-linear-gradient(0,rgba(0,0,0,0),rgba(0,0,0,0.075));
  background-image: -moz-linear-gradient(0,rgba(0,0,0,0),rgba(0,0,0,0.075));
  background-image: -o-linear-gradient(0,rgba(0,0,0,0),rgba(0,0,0,0.075));
  background-image: -ms-linear-gradient(0,rgba(0,0,0,0),rgba(0,0,0,0.075));
  background-image: linear-gradient(0,rgba(0,0,0,0),rgba(0,0,0,0.075));
}

.sidebar-view .sidebar-view-content {
  width: 179px;
  position: absolute;
  z-index: 10;
}

.sidebar-view .sidebar-view-content h4 {
  font-size: 11px;
  text-transform: uppercase;
  padding: 11px 0 0 11px;
  color: #96a0ad;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
}

.sidebar-view .sidebar-view-content ul {
  padding: 5px 0 0;
  margin-bottom: 5px;
}

.sidebar-view .sidebar-view-content ul li.selected a {
  background: #e7edf3;
  border-top-color: #bed3ea;
  border-bottom-color: #bed3ea;
}

.sidebar-view .sidebar-view-content ul li a {
  position: relative;
  display: block;
  height: 20px;
  line-height: 12px;
  font-size: 11px;
  border-top: 1px solid #f1f3f5;
  border-bottom: 1px solid #f1f3f5;
  color: #555;
  padding: 10px 0 0 20px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.sidebar-view .sidebar-view-content ul li.dashboard span, .sidebar-view .sidebar-view-content ul li.applications-overview span {
  background-position: 1px 4px;
}

.sidebar-view .sidebar-view-content ul li span {
  padding: 5px 0 5px 25px;
}

.sidebar-view .sidebar-view-content ul li.payments span, .sidebar-view .sidebar-view-content ul li.applications-fees span {
  background-position: 1px -16px;
}

.sidebar-view .sidebar-view-content ul li div.unread {
  position: absolute;
  right: 11px;
  top: 10px;
  width: 9px;
  height: 10px;
  display: block;
  background-image: url("../assets/list-view/unread-5f65b22f3a4e601a31979f2ad7347f4b.png");
  background-size: 100% 100%;
}

#application div#main-body div#section {
  background-color: #fff;
  border-left: 1px solid #b9c1d0;
  margin-left: 179px;
  min-height: 550px;
  position: relative;
  z-index: 20;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-font-smoothing: subpixel-antialiased;
}

div.dashboard-view, div.platform-overview-dashboard-view {
  position: relative;
}

div.dashboard-view div.test-badge, div.platform-overview-dashboard-view div.test-badge {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  width: 54px;
  height: 55px;
  background-size: 100% 100%;
}

div.dashboard-view div.summary, div.platform-overview-dashboard-view div.summary {
  font-family: 'gotham a','gotham b','helvetica neue',helvetica,arial,sans-serif;
  position: relative;
  padding: 30px 30px;
  background: #3e4859;
  background: -webkit-linear-gradient(#233143,#3e4859);
  background: -moz-linear-gradient(#233143,#3e4859);
  background: -ms-linear-gradient(#233143,#3e4859);
  background: -o-linear-gradient(#233143,#3e4859);
  background: linear-gradient(#233143,#3e4859);
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.27);
  -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.27);
  -ms-box-shadow: inset 0 1px 0 rgba(0,0,0,0.27);
  -o-box-shadow: inset 0 1px 0 rgba(0,0,0,0.27);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.27);
  background-color: #233143;
  left: -1px;
  width: 700px;
  height: 40px;
  -webkit-border-bottom-left-radius: 1px;
  -moz-border-bottom-left-radius: 1px;
  -ms-border-bottom-left-radius: 1px;
  -o-border-bottom-left-radius: 1px;
  border-bottom-left-radius: 1px;
  -webkit-border-bottom-right-radius: 1px;
  -moz-border-bottom-right-radius: 1px;
  -ms-border-bottom-right-radius: 1px;
  -o-border-bottom-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border: 1px solid rgba(0,0,0,0.15);
  border-top: 0;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

div.dashboard-view div.summary div.summary-block, div.platform-overview-dashboard-view div.summary div.summary-block {
  float: left;
  width: 25%;
  text-align: center;
}

div.dashboard-view div.summary div.value, div.platform-overview-dashboard-view div.summary div.value {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  height: 24px;
  text-shadow: 0 2px 6px rgba(0,0,0,0.43);
}

div.dashboard-view div.summary div.value span.container, div.platform-overview-dashboard-view div.summary div.value span.container {
  position: relative;
  display: inline-block;
}

div.dashboard-view div.summary div.value strong, div.platform-overview-dashboard-view div.summary div.value strong {
  font-weight: 500;
}

@media screen and (-webkit-min-device-pixel-ratio: 0)
div.dashboard-view div.summary strong[data-text]::after {
  content: attr(data-text);
z-index: 2;
color: #3e4859;
position: absolute;
left: 0;
pointer-events: none;
-webkit-mask-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,0.12)));
}

div.dashboard-view div.summary div.label, div.platform-overview-dashboard-view div.summary div.label {
  color: #7a828d;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.27);
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

div.dashboard-view div.charts, div.platform-overview-dashboard-view div.charts {
  background: #fafafa;
  background: -webkit-linear-gradient(#fff,#fafafa);
  background: -moz-linear-gradient(#fff,#fafafa);
  background: -ms-linear-gradient(#fff,#fafafa);
  background: -o-linear-gradient(#fff,#fafafa);
  background: linear-gradient(#fff,#fafafa);
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 30px 0 30px;
  min-height: 506px;
}

div.dashboard-view .go-live-wrapper, div.platform-overview-dashboard-view .go-live-wrapper {
  display: none;
}

div.dashboard-view div.section-header, div.platform-overview-dashboard-view div.section-header {
  position: relative;
  height: 25px;
  padding: 25px 0 20px;
}

div.dashboard-view div.section-header h3, div.platform-overview-dashboard-view div.section-header h3 {
  position: relative;
  z-index: 20;
  font-size: 12px;
  font-weight: bold;
  color: #545454;
  margin-bottom: 8px;
  text-shadow: 0 1px 0 #fff;
}

div.dashboard-view div.section-header h3 span, div.platform-overview-dashboard-view div.section-header h3 span {
  background: #fefefe;
  padding-right: 15px;
}

div.dashboard-view div.block, div.dashboard-view div.chart-view, div.platform-overview-dashboard-view div.block, div.platform-overview-dashboard-view div.chart-view {
  border: 1px solid #dadada;
  border-top: 1px solid #bbb;
  background: #fff;
  padding: 20px 20px;
  margin-bottom: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 #ededed;
  -moz-box-shadow: inset 0 1px 0 #ededed;
  -ms-box-shadow: inset 0 1px 0 #ededed;
  -o-box-shadow: inset 0 1px 0 #ededed;
  box-shadow: inset 0 1px 0 #ededed;
}

.chart-view {
  position: relative;
}

.go-live {
  font-size: 14px;
}

.go-live ol li {
  list-style-type: decimal;
  margin-left: 22px;
  margin-top: 12px;
  line-height: 21px;
}

.go-live ol li h3 {
  font-weight: bold;
  margin-bottom: 6px;
}

.go-live strong {
  font-weight: bold;
}

div.dashboard-view div.section-header div.currency-selector, div.platform-overview-dashboard-view div.section-header div.currency-selector {
  position: absolute;
  z-index: 20;
  right: 230px;
  top: 19px;
}

div.dashboard-view div.section-header div.date-range, div.platform-overview-dashboard-view div.section-header div.date-range {
  position: absolute;
  right: 0;
  top: 21px;
  padding-left: 15px;
  z-index: 20;
}

.date-range-form-view {
  background: #fefefe;
  text-align: center;
  color: #999;
  font-size: 12px;
}

.date-range-form-view div {
  display: inline;
  font-size: 12px;
  position: relative;
}

.date-range-form-view span.separator {
  padding: 0 5px;
}

div.form-field-view input, div.form-field-view textarea, p.text input, p.text textarea, div.routing-number-field-view input, div.routing-number-field-view textarea, div.account-number-field-view input, div.account-number-field-view textarea, div.currency-amount-field-view input, div.currency-amount-field-view textarea, div.text-area-field-view input, div.text-area-field-view textarea, div.url-field-view input, div.url-field-view textarea, div.comma-separated-url-field-view input, div.comma-separated-url-field-view textarea, div.email-field-view input, div.email-field-view textarea, div.field_input input, div.field_input textarea, div.phone-widget-view input, div.phone-widget-view textarea, div.date-field-view input, div.date-field-view textarea, div.date-to-timestamp-field-view input, div.date-to-timestamp-field-view textarea {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 6px 7px;
  width: 150px;
  border: 1px solid #bbb;
  border-top-color: #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.18);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.18);
  -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.18);
  -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.18);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.18);
  -webkit-font-smoothing: antialiased;
}

.date-range-form-view input {
  line-height: 13px;
  background-position: 6px 5px !important;
  text-indent: 14px;
  height: 23px;
  width: 79px !important;
  font-size: 12px !important;
  padding: 0 6px !important;
  color: #666 !important;
}

input.hasDatepicker {
  text-indent: 19px;
  background-image: url("form/calendar-84a123f540f1cd8e695bd1c24753c69d.png");
  background-size: 11px 12px;
  background-position: 8px 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

div.dashboard-view div.section-header hr, div.platform-overview-dashboard-view div.section-header hr {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 33px;
  z-index: 10;
  border-top-color: #e7e7e7;
}

div.dashboard-view hr, div.platform-overview-dashboard-view hr {
  border: 0;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #fff;
  display: block;
  background: 0;
  margin: 0 30px;
}

.chart-view div.head {
  position: relative;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.chart-view div.head span.title {
  color: #444;
}

.chart-view div.head span.total {
  position: absolute;
  right: 0;
  color: #008cdd;
}

.chart-view div.spinner_container {
  position: relative;
}

.chart-view div.spinner_container div.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -12px;
  width: 24px;
  height: 24px;
}

div.spinner-view {
  position: relative;
}

.chart-view div.no-data {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.chart-view div.no-data span {
  position: relative;
  display: block;
  text-align: center;
  top: 45px;
}

.chart-view div.no-data span em {
  display: inline-block;
  background: #f9f9f9;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 11px;
  color: #888;
  -webkit-text-stroke: 1px transparent;
}

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit;
}

div.dashboard-view div.charts div.small-charts div.chart-block.successful-charge-count-chart, div.platform-overview-dashboard-view div.charts div.small-charts div.chart-block.successful-charge-count-chart {
  margin-right: 30px;
}

div.dashboard-view div.charts div.small-charts div.chart-block, div.platform-overview-dashboard-view div.charts div.small-charts div.chart-block {
  float: left;
  width: 335px;
}

#application div#footer {
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 20px 0 40px;
  position: relative;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  text-align: left;
}

#application div#footer p {
  color: #aaa;
  display: inline;
  padding-right: 5px;
  position: absolute;
  right: 0;
  top: 20px;
}

#application div#footer ul {
  padding-left: 5px;
  display: inline;
}

#application div#footer ul li {
  display: inline;
  padding-right: 15px;
}

#application div#footer a {
  color: #aaa;
  text-decoration: none;
}

#application div#footer ul.lesser {
  padding-left: 0;
}

#application div#footer ul {
  padding-left: 5px;
  display: inline;
}

.patient-card {
  width: 40%;
  float: left;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid #dadada;
  border-top: 1px solid #bbb;
  background: #fff;
  padding: 20px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.patient-card .left-column {

}

.patient-card .name {

}

.patient-card .email {

}

.patient-card .rigth-column {
  
}

.patient-card .tests {

}

.patient-card .games {

}