<!DOCTYPE html>
<html ng-app="loginApp" ng-controller="LoginController">
  <head>
    <title>ReHand: Login</title>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="scripts/controller.js"></script>
    <link rel="stylesheet" href="styles/login.css">
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="https://a.stripecdn.com/manage/assets/application.manage_split2-b86e45e054fe4929dcfc79540eae3951.css">
    <![endif]-->
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../fonts/gotham.css">
  </head>
  <body id="login">

    <div id="login-background"><div class="inner"></div></div>

    <div id="wrap">

      <!-- Header -->
      <div id="header">
          <h1><a href="/">ReHand</a></h1>
      </div>

      <!-- LOGIN BOX -->
      <div id="main-body" class="box css"><div class="inner">

        <div class="title first-step">
          <h2 ng-hide="loginError">Bienvenido!</h2>
          <h2 class="error" ng-show="loginError">E-mail o contraseña incorrectos.</h2>
        </div>

          <form class="fancy-label" ng-submit="login()">
            <div class="step first-step">
                  <p class="text">
                      <span>
                          <label for="email">E-mail</label>
                          <input type="email" value="" name="email" id="email" placeholder="E-mail" ng-model="user.email" />
                      </span>
                  </p>
                  <p class="text">
                      <span>
                          <label for="password">Contraseña</label>
                          <input type="password" value="" name="password" id="password" placeholder="Contraseña" ng-model="user.password"/>
                      </span>
                  </p>
            </div>

            <input type="hidden" name="redirect" value="" />
            <input type="hidden" name="invite_code" value="" />
            <input type="hidden" name="account_invite" value="" />
            <input type="hidden" name="invite" value="" />

            <p class="submit">
              <button class="button blue" type="submit"><span>Entrar a tu cuenta</span></button>
            </p>

          </form>

      </div></div>
      <div id="footer" class="box css">
            <a href="/register">¿No tenes cuenta? <span>Registrate</span></a>
      </div>
      <div id="footer_spacer"></div>
        <div id="bottom">
          <ul>
              <li class="first"><a href="https://stripe.com/privacy">Políticas de Privacidad</a></li>
              <li><a href="https://stripe.com/help/contact">Contacto</a></li>
              <li class="last"><a href="/">&copy; ReHand</a></li>
          </ul>
      </div>
    </div>

    <noscript>
                <div class="no-js-view">
                        <div class="position">
                                <div class="icon"></div>
                                <div class="well">
                                        <h1>No hay amor por Javascript?</h1>
                                        <p>ReHand requiere que tu navegador tenga JavaScript habilitado. <a href="http://enable-javascript.com" target="_blank" class="arrow">Aprender más</a></p>
                                </div>
                                <div class="footer">
                                        <p>&copy; ReHand</p>
                                </div>
                        </div>
                </div>
        </noscript>

  </body>

</html>
