<!DOCTYPE html>
<html ng-app="loginApp" ng-controller="LoginController">
  <head>
    <title>ReHand: Login</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="//s3-us-west-2.amazonaws.com/cdn.tiempy.com/vendors/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="scripts/controller.js"></script>
    <link rel="stylesheet" href="styles/login.css">
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="https://a.stripecdn.com/manage/assets/application.manage_split2-b86e45e054fe4929dcfc79540eae3951.css">
    <![endif]-->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="../fonts/gotham.css">
    <link rel="stylesheet" href="https://cloud.typography.com/711858/653922/css/fonts.css">
  </head>
  <body id="login">

    <div id="login-background"><div class="inner"></div></div>

    <div id="wrap">

      <!-- Header -->
      <div id="header">
          <h1><a href="/">ReHand</a></h1>
      </div>

      <!-- LOGIN BOX -->
      <div id="main-body" class="box css"><div class="inner">

        <div class="title first-step">
          <h2>Bienvenido!</h2>
        </div>

          <form class="fancy-label" ng-submit="login()">
            <div class="step first-step">
                  <p class="text">
                      <span>
                          <label for="email">Email</label>
                          <input type="email" value="" name="email" id="email" placeholder="Email" ng-model="user.email" />
                      </span>
                  </p>
                  <p class="text">
                      <span>
                          <label for="password">Password</label>
                          <input type="password" value="" name="password" id="password" placeholder="Password" ng-model="user.password"/>
                      </span>
                  </p>
            </div>

            <input type="hidden" name="redirect" value="" />
            <input type="hidden" name="invite_code" value="" />
            <input type="hidden" name="account_invite" value="" />
            <input type="hidden" name="invite" value="" />

            <p class='forgot first-step'>
              <a href="/reset">Forgot your password?</a>
            </p>

            <p class="remember">
                <label><input type="checkbox" name="remember" value="true" checked="checked" /> Remember me</label>
            </p>

            <p class="submit">
              <button class="button blue" type="submit"><span>Sign in to your account</span></button>
            </p>

          </form>

      </div></div>
      <div id="footer_spacer"></div>

        <div id="bottom">
          <ul>
              <li class="first"><a href="https://stripe.com/privacy">Privacy Policy</a></li>
              <li><a href="https://stripe.com/help/contact">Contact</a></li>
              <li class="last"><a href="/">&copy; ReHand</a></li>
          </ul>
      </div>
    </div>

    <noscript>
                <div class="no-js-view">
                        <div class="position">
                                <div class="icon"></div>
                                <div class="well">
                                        <h1>No love for Javascript?</h1>
                                        <p>ReHand requires your browser to have Javascript enabled. <a href="http://enable-javascript.com" target="_blank" class="arrow">Learn more</a></p>
                                </div>
                                <div class="footer">
                                        <p>&copy; ReHand</p>
                                </div>
                        </div>
                </div>
        </noscript>

  </body>

</html>
