<link rel="stylesheet" href="../styles/fonts.css">
<body id="merch">
  <div class="darkSplash" ng-show="darkActive"></div>
  <div id="register-patient" class="patient-form" ng-include="'app/views/register_patient.html'" ng-show="modals.registerPatient"></div>
  <div id="sure-delete-patient" ng-include="'app/views/sure-delete-patient.html'" ng-show="modals.sureDeletePatient"></div>
  <div class="chart modal" style="height: 85%; width: 90%;" ng-if="modals.bigChart">
    <div class="close-modal" ng-click="closeBigChart()">x</div>
    <div id="big-chart-container" style="height: 100%; width: 100%;"></div>
  </div>
  <div id="edit-patient" class="patient-form" ng-include="'app/views/edit_patient.html'" ng-if="modals.editPatient"></div>
  <div class="main-view">
    <div id="application">
      <div id="header">
        <div class="header-view">
          <h1><p class="main-header-link">ReHand</p></h1>
          <div class="navigation">
            <div id="account-dropdown-view">
              <div class="account-dropdown-view">
                <a class="account">
                <span class="account-name">{{user.name}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="global-notice-view">
        <div class="global-notice-view">
          <div class="messages"></div>
        </div>
      </div>
      <div id="main-body" class="box">
        <div id="toolbar-view">
          <div class="toolbar-view">
            <div class="inner">
              <div id="breadcrumbs" style="width: 60px;"></div>
            </div>
          </div>
        </div>
        <div id="quicksearch-view" ng-show="tabs.selected == 'pacientes' && !activePatient">
          <div class="quicksearch-view">
            <form>
              <div class="mask">
                <input type="text" ng-init="search = {}" ng-model="search.name" autocomplete="off" spellcheck="false" tabindex="1" placeholder="Buscar..." style="left: 60px;">
              </div>
              <div class="clear" style="display: none;"></div>
            </form>
            <div class="search-results-popover" style="display: none;">
              <div class="inner">
                <div class="arrow"></div>
                <div class="search-results-container"></div>
                <div class="loading-indicator" style="display: none;">
                  <span><img src="https://a.stripecdn.com/manage/assets/search/spinner-95648306860f6f8ac3bd21106c6da6db.gif" width="16" height="16"> Buscando...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap">
          <div id="welcome-box"></div>
          <div id="sidebar-view">
            <div class="sidebar-view">
              <div class="sidebar-view-gradient"></div>
              <div class="sidebar-view-content">
                <div class="gradient"></div>
                <h4 ng-show="user.job == 'doctor'">Doctor</h4>
                <ul class="navigation" ng-if="user.job == 'doctor'">
                  <li class="dashboard" ng-click="toPatientsList();" ng-class="{selected: tabs.selected == 'pacientes'}">
                    <a>
                      <i class="rehand ricon-users"></i>
                      <span>Pacientes</span>
                    </a>
                  </li>
                  <!--
                  <li class="payments" ng-click="tabs.selected = 'estadisticas'" ng-class="{selected: tabs.selected == 'estadisticas'}">
                    <a>
                      <span>Estadisticas</span> 
                      <div class="unread" style="display: none;"></div>
                    </a>
                  </li>
                  -->
                </ul>
                <h4>Juego</h4>
                <ul class="navigation">
                  <li class="dashboard" ng-click="toDownloadGame();" ng-class="{selected: tabs.selected == 'downloadGame'}">
                    <a>
                      <i class="rehand ricon-dice"></i>
                      <span>Descargar Juego</span>
                    </a>
                  </li>
                </ul>
                <h4>Perfil</h4>
                <ul class="navigation">
                  <li class="transfers" ng-class="{selected: tabs.selected == 'profile'}">
                    <a ng-click="toMyProfile()">
                      <i class="rehand ricon-user"></i>
                      <span>Mi Perfil</span> 
                      <div class="unread" style="display: none;"></div>
                    </a>
                  </li>
                  <li class="transfers">
                    <a ng-click="logout()">
                      <i class="rehand ricon-exit"></i>
                      <span>Cerrar Sesión</span> 
                      <div class="unread" style="display: none;"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="main-content" ng-if="tabs.selected == 'pacientes' && !activePatient && user.job == 'doctor'">
            <div id="section">
              <div class="dashboard-view">
                <div class="test-badge" style="display: block;"></div>
                <div class="dashboard-content">
                  <div class="summary clearfix">
                    <div class="summary-view">
                      <div class="summary-contents">
                        <div class="summary-block last-transfer">
                          <div class="value">
                            <span class="container">
                            <strong>{{patients.length}}</strong>
                            </span>
                          </div>
                          <div class="label">Pacientes</div>
                        </div>
                        <div class="summary-block next-transfer">
                          <div class="value">
                            <span class="container">
                            <strong>{{allGames}}</strong>
                            </span>
                          </div>
                          <div class="label">Veces Jugadas</div>
                        </div>
                        <div class="summary-block total-volume pointer right" ng-click="toRegisterPatient()">
                          <div class="value">
                            <span class="container">
                            <strong>+</strong>
                            </span>
                          </div>
                          <div class="label">Nuevo Paciente</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dashboard-welcome clearfix" id="patients-list">
                    <div class="patient-card" ng-repeat="patient in patients | filter: search" ng-click="toPatient(patient)">
                      <div class="header">
                        <p>{{patient.name}}</p>
                      </div>
                      <div class="data-container">
                        <div class="games-tests-container clearfix">
                          <div class="data-card">
                            <p class="number">{{patient.performanceTest.length}}</p>
                            <p class="info">Tests</p>
                          </div>
                          <div class="data-card">
                            <p class="number">{{patient.games.length}}</p>
                            <p class="info">Juegos</p>
                          </div>
                        </div>
                        <p class="email">{{patient.email}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="main-content" ng-if="tabs.selected == 'downloadGame'">
            <div id="section">
              <div class="dashboard-view">
                <div class="test-badge" style="display: block;"></div>
                <div class="dashboard-content">
                  Pantalla de Descargar Juego!
                </div>
              </div>
            </div>
          </div>
          <div id="main-content" ng-if="tabs.selected == 'pacientes' && activePatient || tabs.selected == 'profile'">
            <div id="section">
              <div class="dashboard-view">
                <div class="test-badge" style="display: block;"></div>
                <div class="dashboard-content">
                  <div class="summary clearfix">
                    <div class="summary-view">
                      <div class="summary-contents">
                        <div class="summary-block pointer" ng-click="closeShowPatient()" ng-hide="tabs.selected == 'profile'">
                          <div class="value">
                            <span class="container">
                            <strong><i class="rehand ricon-back"></i></strong>
                            </span>
                          </div>
                          <div class="label">Volver</div>
                        </div>
                        <div class="summary-block pointer" ng-click="closeShowPatient()" ng-show="tabs.selected == 'profile'">
                          <div class="value">
                            <span class="container">
                            <strong>{{activePatient.name.split(' ')[0]}}</strong>
                            </span>
                          </div>
                        </div>
                        <div class="summary-block next-transfer">
                          <div class="value">
                            <span class="container">
                            <strong>{{activePatient.performanceTest.length}}</strong>
                            </span>
                          </div>
                          <div class="label">Tests hechos</div>
                        </div>
                        <div class="summary-block total-customers">
                          <div class="value">
                            <span class="container">
                            <strong data-text="0">{{activePatient.games.length}}</strong>
                            </span>
                          </div>
                          <div class="label">Veces jugadas</div>
                        </div>
                        <div class="summary-block total-volume">
                          <div class="value">
                            <span class="container">
                            <strong>{{activePatient.daysUsed | number: 0}}</strong>
                            </span>
                          </div>
                          <div class="label">Días desde inicio</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="charts">
                    <div class="section-header">
                      <h3><span>{{activePatient.name}}</span></h3>
                      <div class="currency-selector">
                      </div>
                      <div class="date-range" ng-hide="tabs.selected == 'profile'">
                        <div class="date-range-form-view">
                          <div class="to-date-container pointer" ng-click="openEditPatient()">
                            <i class="ricon-pencil"></i>
                            <span>Editar</span>
                          </div>
                          <span class="separator">|</span>
                          <div class="from-date-container pointer" ng-click="deletePatient()">
                            <i class="ricon-trash"></i>
                            <span>Borrar</span>
                          </div>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <div class="gross-volume-chart">
                      <div class="chart-view">
                        <div class="head">
                          <span class="title">Progreso en el juego</span>
                          <span class="ricon-expand total pointer" 
                          ng-click="expandChart('big-chart-container', activePatient.data.games)"></span>
                        </div>
                        <div class="spinner_container" style="height: 120px; display: none;">
                          <div class="spinner">
                            <div class="spinner-view" style="display: none;"></div>
                          </div>
                        </div>
                        <div class="no-data"><span><em>No data for selected dates</em></span></div>
                        <div class="chart" style="height: 120px; position: relative; display: block;">
                          <div id="chart-container" style="min-width: 310px; height: 150px; margin: 0 auto"></div>
                        </div>
                      </div>
                    </div>
                    <div class="small-charts clearfix">
                      <div class="chart-block successful-charge-count-chart" style="width:100%;s">
                        <div class="chart-view">
                          <div class="head">
                            <span class="title">Progreso pre test</span>
                            <span class="ricon-expand total pointer" 
                          ng-click="expandChart('big-chart-container', activePatient.data.tests)"></span>
                          </div>
                          <div class="spinner_container" style="height: 100px; display: none;">
                            <div class="spinner">
                              <div class="spinner-view" style="display: none;"></div>
                            </div>
                          </div>
                          <div class="no-data"><span><em>No data for selected dates</em></span></div>
                          <div class="chart" style="height: 100px; position: relative; display: block;">
                            <div id="chart-container2" style="min-width: 310px; height: 130px; margin: 0 auto"></div>
                          </div>
                        </div>
                      </div>
                      <div class="chart-block customer-count-chart" style="display:none;">
                        <div class="chart-view">
                          <div class="head">
                            <span class="title">Algo más</span>
                            <span class="total">0 total</span>
                          </div>
                          <div class="spinner_container" style="height: 100px; display: none;">
                            <div class="spinner">
                              <div class="spinner-view" style="display: none;"></div>
                            </div>
                          </div>
                          <div class="no-data"><span><em>No data for selected dates</em></span></div>
                          <div class="chart" style="height: 100px; position: relative; display: block;">
                            <svg height="100" version="1.1" width="293" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
                              <path fill="rgb(234, 234, 255)" stroke="#000000" d="M11.5,70.5L26.5,70.5L41.5,70.5L56.5,70.5L71.5,70.5L86.5,70.5L101.5,70.5L116.5,70.5L131.5,70.5L146.5,70.5L161.5,70.5L176.5,70.5L191.5,70.5L206.5,70.5L221.5,70.5L236.5,70.5L251.5,70.5L266.5,70.5L281.5,70.5L281.5,74L11.5,74" stroke-width="0" opacity="1" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1;"></path>
                              <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc>
                              <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                <linearGradient id="37090-_cadaef:5-_fff:90" x1="0" y1="1" x2="0" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                  <stop offset="5%" stop-color="#cadaef" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                  <stop offset="90%" stop-color="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                </linearGradient>
                              </defs>
                              <text x="0" y="9" text-anchor="start" font="11px Arial" stroke="none" fill="#bbbbbb" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-family: Arial;">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                              </text>
                              <text x="293" y="9" text-anchor="end" font="11px Arial" stroke="none" fill="#bbbbbb" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-family: Arial;">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                              </text>
                              <path fill="none" stroke="#000000" d="M0,37.5L293,37.5" stroke-width="1" stroke-opacity="0.06" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-opacity: 0.06;"></path>
                              <path fill="none" stroke="#000000" d="M0,74.5L293,74.5" stroke-width="1" stroke-opacity="0.06" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-opacity: 0.06;"></path>
                              <path fill="none" stroke="#4cabe2" d="M11.5,70.5L26.5,70.5L41.5,70.5L56.5,70.5L71.5,70.5L86.5,70.5L101.5,70.5L116.5,70.5L131.5,70.5L146.5,70.5L161.5,70.5L176.5,70.5L191.5,70.5L206.5,70.5L221.5,70.5L236.5,70.5L251.5,70.5L266.5,70.5L281.5,70.5" stroke-width="3" stroke-opacity="0.95" stroke-linejoin="round" stroke-linecap="round" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-opacity: 0.95; stroke-linejoin: round; stroke-linecap: round;"></path>
                              <circle cx="11.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <text x="11.5" y="89" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#bbbbbb" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: normal; font-family: Arial;">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0:00</tspan>
                              </text>
                              <rect x="4" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="26.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <rect x="19" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="41.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <rect x="34" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="56.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <text x="56.5" y="89" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#bbbbbb" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: normal; font-family: Arial;">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">3:00</tspan>
                              </text>
                              <rect x="49" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="71.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <rect x="64" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="86.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <rect x="79" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="101.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <text x="101.5" y="89" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#bbbbbb" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: normal; font-family: Arial;">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">6:00</tspan>
                              </text>
                              <rect x="94" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="116.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <rect x="109" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="131.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <rect x="124" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="146.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <text x="146.5" y="89" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#bbbbbb" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: normal; font-family: Arial;">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">9:00</tspan>
                              </text>
                              <rect x="139" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="161.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <rect x="154" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="176.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <rect x="169" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="191.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <text x="191.5" y="89" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#bbbbbb" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: normal; font-family: Arial;">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">12:00</tspan>
                              </text>
                              <rect x="184" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="206.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <rect x="199" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="221.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <rect x="214" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="236.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <text x="236.5" y="89" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#bbbbbb" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: normal; font-family: Arial;">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15:00</tspan>
                              </text>
                              <rect x="229" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="251.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <rect x="244" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="266.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <rect x="259" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                              <circle cx="281.5" cy="70.5" r="4" fill="#008cdd" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                              <text x="281.5" y="89" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#bbbbbb" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: normal; font-family: Arial;">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">18:00</tspan>
                              </text>
                              <rect x="274" y="5" width="15" height="75" r="0" rx="0" ry="0" fill="#ffff00" stroke="#000" stroke-width="0" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></rect>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dashboard-welcome">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
      <div id="footer">
        <p>© ReHand</p>
        <ul>
          <li><a href="https://stripe.com/about">About</a></li>
          <li><a href="https://stripe.com/blog">Blog</a></li>
          <li><a href="https://stripe.com/jobs">Jobs</a></li>
        </ul>
        <ul class="lesser">
          <li><a href="https://stripe.com/terms">Terms of Service</a></li>
          <li><a href="https://stripe.com/privacy">Privacy Policy</a></li>
          <li><a class="open-account-activity">
            Last Account Activity: a few seconds ago
            </a>
          </li>
        </ul>
      </div>
      -->
    </div>
  </div>