<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="MenuBar">
        <li><i class="icon-menu"></i></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
				<p class="name">{{user.twitter.name}}</p>
				<img src="{{user.twitter.picture}}" class="picture" />
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="Estadisticas">
<ul>
<li>Seguidores:</li>
<li>Siguiendo:</li>
<li>Tweets enviados:</li>
<li>Mensajes Enviados:</li>
</ul>
</div>

<button type="button" ng-click="doShow()">SHOW USER</button>