<div class="modal-container">
	<div class="close-modal" ng-click="closeRegisterPatient()">x</div>
	<div id="main-body" class="box css">
		<div class="inner">

	        <div class="title extra">
	          <h2 ng-hide="registerError" class="">Creale una cuenta a tu paciente.</h2>
	          <h2 class="error ng-hide" ng-show="errors.email_used">El e-mail ingresado ya esta en uso.</h2>
	          <h2 class="error ng-hide" ng-show="errors.confirm_password">Las contraseñas no coinciden.</h2>
	          <h2 class="error ng-hide" ng-show="errors.user_incomplete">Por favor completa todos los campos.</h2>
	          <h2 class="error ng-hide" ng-show="errors.no_root">Parece que no eres administrador.</h2>
	        </div>

	          <form ng-submit="register()" class="ng-valid ng-dirty">
	              <p class="text">
	                  <span>
	                      <input type="text" value="" name="name" ng-model="user.name" id="name" placeholder="Nombre" class="ng-pristine ng-untouched ng-valid">
	                  </span>
	              </p>
	              <p class="text">
	                  <span>
	                      <input type="email" value="" name="email" ng-model="user.email" id="email" placeholder="E-mail" class="ng-untouched ng-valid ng-valid-email ng-dirty">
	                  </span>
	              </p>
	              <p class="text">
	                  <span class="password-strength" data-password-strength="-1">
	                      <input type="password" value="" name="password" ng-model="user.password" id="password" placeholder="Password" class="password-strength-input ng-untouched ng-valid ng-dirty">
	                  </span>
	              </p>
	              <p class="text">
	                  <span>
	                      <input type="password" value="" name="confirm_password" ng-model="user.confirm_password" id="confirm_password" placeholder="Repetir Contraseña" class="ng-pristine ng-untouched ng-valid">
	                  </span>
	              </p>

	              <div>
	                  <p class="submit">
	                      <button type="submit" class="button blue medium"><span>Crear cuenta</span></button>
	                  </p>
	              </div>
	          </form>
		</div>
	</div>
</div>